* {
    margin: 0px;
    padding: 0px;
}

#content {
    display: flex;
    justify-content: center;
}

.party td {
    padding: 30px;
}

.legend td{
    padding: 0px;
    height: 5px;
}

.legendERC {
    background-color: #cf212a;
}

.legendJXC {
    background-color: #43e6d2
}

.legendMixto {
    background-color: #6e512e;
}

.legendPsoe {
    background-color: #ff0000
}

.legendPP {
    background-color: #4669e3
}

.legendVox {
    background-color: #69c936
}

.legendSumar {
    background-color: #e51c55
}

.legendPodemos {
    background-color: #c9369b
}



